name: Release new version of examples pass

on:
  push:
    branches: [acc]

jobs:
  test-and-release:
    concurrency:
      group: "acc"
      cancel-in-progress: false

    uses: guidion-digital/terrappy/.github/workflows/tf-module-releaser.yaml@v1
    permissions:
      contents: write
    with:
      environment_variables: |
        AWS_ACCESS_KEY_ID=${{ vars.MODULE_TESTER_AWS_ACCESS_KEY_ID }}
    secrets:
      environment_secrets: |
        AWS_SECRET_ACCESS_KEY=${{ secrets.MODULE_TESTER_AWS_SECRET_ACCESS_KEY }}
