name: Tests plans

on:
  pull_request:
    branches: [acc]
    types: [opened, edited, synchronize]

jobs:
  tests-plan:
    concurrency:
      group: "acc"
      cancel-in-progress: false
    uses: guidion-digital/terrappy/.github/workflows/tf-module-pr-planner.yaml@v1
    permissions:
      contents: read
      pull-requests: write
    with:
      environment_variables: |
        AWS_ACCESS_KEY_ID=${{ vars.MODULE_TESTER_AWS_ACCESS_KEY_ID }}
    secrets:
      environment_secrets: |
        AWS_SECRET_ACCESS_KEY=${{ secrets.MODULE_TESTER_AWS_SECRET_ACCESS_KEY }}
