name: Tests plans

on:
  pull_request:
    branches: [acc]
    types: [opened, edited, synchronize]

jobs:
  tests-plan:
    concurrency:
      group: "acc"
      cancel-in-progress: false
    uses: guidion-digital/terrappy/.github/workflows/tf-module-pr-planner.yaml@hotfix_secrets4
    permissions:
      contents: read
      pull-requests: write
    with:
      environment: test
    secrets: inherit
