name: Tests plans

on:
  pull_request:
    branches: [acc]
    types: [opened, edited, synchronize]

jobs:
  tests-plan:
    concurrency:
      group: "acc"
      cancel-in-progress: false
    uses: guidion-digital/terrappy/.github/workflows/tf-module-pr-planner.yaml@v2
    permissions:
      contents: read
      pull-requests: write
    secrets: inherit
    with:
      tfc_deployer_container_version: 0.1.2-tf1.11.4